doctype html
html
    head
        //- title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")       
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')   
   
    body
        
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/') Example APP
                button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
                .collapse.navbar-collapse#navbarSupportedContent
                    ul.nav.navbar-nav
                        li.nav-item(role='presentation')
                            a.nav-link(href='/') Home
                        li.nav-item.dropdown(role='presentation')
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=true,data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")  Webhooks
                                b.caret
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/webhook/subscribe') Webhook Subscription
                                a.dropdown-item(href='/status') Query Webhook Subscription Status
                                a.dropdown-item(href='/webhook/resource') Buy Goods Received Resource
                                a.dropdown-item(href='/webhook/reversalresource') Buy Goods Reversed Resource
                                a.dropdown-item(href='/webhook/customerresource') Customer Resource
                        li.nav-item.dropdown(role='presentation')
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=true,data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")   Mpesa Payments
                                b.caret
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/stk') STK Push
                                a.dropdown-item(href='/stk/result') Process Payment Request Result
                                a.dropdown-item(href='/status') Query Status
                        li.nav-item.dropdown(role='presentation')
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=true,data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")   PAY
                                b.caret
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/pay') Create a Payment
                                a.dropdown-item(href='/pay/mobilerecipient') Add Mobile Pay Recipient
                                a.dropdown-item(href='/pay/bankrecipient') Add Bank Pay Recipient
                                a.dropdown-item(href='/pay/tillrecipient') Add External Till Pay Recipient
                                a.dropdown-item(href='/pay/merchantrecipient') Add Kopo Kopo Merchant Pay Recipient
                                a.dropdown-item(href='/status') Query Status
                                a.dropdown-item(href='/pay/result') Payment Result
                        li.nav-item.dropdown(role='presentation')
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=true,data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")   Settlement
                                b.caret
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/transfer') Initiate a Transfer
                                a.dropdown-item(href='/transfer/createmerchantaccount') Create a Merchant Bank Account
                                a.dropdown-item(href='/transfer/createmerchantwallet') Create a Merchant Wallet
                                a.dropdown-item(href='/status') Query Status
                                a.dropdown-item(href='/transfer/result') Transfer Result
                        li.nav-item.dropdown(role='presentation')
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=true,data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")   Polling
                                b.caret
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/polling') Poll Buygood Transactions
                                a.dropdown-item(href='/status') Query Status
                                a.dropdown-item(href='/polling/result') Polling Result
                        li.nav-item.dropdown(role='presentation')
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=true,data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")   Transaction Sms Notification
                                b.caret
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                a.dropdown-item(href='/smsnotification') Send Sms Notification
                                a.dropdown-item(href='/status') Query Status
                                a.dropdown-item(href='/smsnotification/result') Notification Result
                            
        .d-flex.align-items-xl-center.flex-column
            block content
       