extends layout

block content

    br
    br
    .container
        h4 Here is the Buy Goods Reversed resource:
        br

        p !{error}
        p  Origination Time: !{origination_time}
        p  Sender msisdn: !{sender_msisdn}
        p  Amount: !{amount}
        p  Currency: !{currency}
        p  Till Number: !{till_number}
        p  Name: !{name}
        p  Status: !{status}
        p  System: !{system}
